.panel-group .display{
	padding: 0px;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.help {
	color:red !important;
}
.panel-group{
	margin-bottom: 0px;
}
.fill{
	width: 100%;
	height:500px;
}

#myNewModelForm input.ng-invalid {
	border: 2px solid red;
}

#myNewModelForm textarea.ng-invalid {
	border: 2px solid red;
}