<style type="text/css">
    textarea {
        resize: none;
    }

    .grey {
        background-color: #7D8787;
        color: black;
    }

    .white {
        background-color: white;
    }

    li#questions a {
        color: black;
    }

    li#questions a:focus, li#questions a:hover {
        text-decoration: none;
        color: black;
    }

    ul#question_list {
        position: unset;
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        height: 250px;
        border: 2px solid #ccc;

        font-size: 16px;
        font-family: Arial, sans-serif;

    // Again, this is where the magic happens -webkit-overflow-scrolling: touch;
    }

    li#questions {
        padding: 10px 20px;

        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: none;
        }

        & :nth-child(even) {
            background: #f8f8f8;
        }
    }
</style>

<div style="margin-top:10px;">

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-body">
            <div class="panel-body">
                <button class="btn btn-primary" style="float:right;"
                        ng-click="model.addNewModel()" data-toggle="modal"
                        data-target="#myModal">Add New Model
                </button>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Modal Name</th>
                        <th style="text-align:right;">Edit</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="mastermodel in model.models">
                    <tr>
                        <td>{{mastermodel.mo_name}}</td>
                        <td style="text-align:right;">
                            <button class="btn btn-primary"
                                    ng-click="model.editModel(mastermodel)" data-toggle="modal"
                                    data-target="#myModal">Edit
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- popup start -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" ng-show="true" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="width: 700px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span ng-if="model.masterModel.moID" class="panel-heading">Edit</span><span
                            ng-if="!model.masterModel.moID" class="panel-heading">Add</span>Master Model
                    </h4>
                </div>
                <div class="modal-body">
                    <!-- form start -->
                    <form name="modelMasterForm" novalidate>
                        <div class="row">
                            <div class="container col-sm-12">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="title"
                                                   class="col-sm-4 control-label">Title:</label>
                                            <div class="col-sm-8">
                                                <input type="text" ng-model="model.masterModel.mo_name"
                                                       class="form-control" name="title" id="title"
                                                       placeholder="Title"
                                                       ng-requried="model.masterModel.mo_name.length == 0" required>
                                                <span ng-show="model.masterModel.mo_name.length < 0">Title is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="form-group">
                                            <label for="description"
                                                   class="col-sm-4 control-label">Description:</label>
                                            <div class="col-sm-8">
                                                        <textarea class="form-control"
                                                                  ng-model="model.masterModel.mo_desc"
                                                                  name="description" id="description"
                                                                  placeholder="description"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:20px;">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Question List</label>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:10px;">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <ul id="question_list">
                                                    <li id="questions" ng-class="{'grey' : $index==model.selectedIndex}"
                                                        ng-click="model.changColor($index)"
                                                        ng-repeat="modelName in model.modelList">
                                                        <a href="javascript:void(0)">Question {{$index+1}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-8" ng-show="model.selectedIndex == $index"
                                                 ng-repeat="modelName in model.modelList">
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="form-group">
                                                        <label for="modelShortName"
                                                               class="col-sm-4 control-label">Short
                                                            Name:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" ng-model="modelName.modelTitle"
                                                                   class="form-control" name="modelShortName"
                                                                   id="modelShortName" placeholder="Short Name"
                                                                   ng-required="modelName.modelTitle.length > 0 || modelName.modelShortName.length > 0 || modelName.modelDescription.length > 0 || modelName.modelMaxLength.length > 0 || modelName.modelMinLength.length > 0"
                                                                   required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="form-group">
                                                        <label for="modelTitle"
                                                               class="col-sm-4 control-label">Question:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text"
                                                                   ng-model="modelName.modelShortName"
                                                                   class="form-control" name="modelTitle"
                                                                   id="modelTitle" placeholder="Question"
                                                                   ng-required=" modelName.modelTitle.length > 0 ||modelName.modelShortName.length > 0 || modelName.modelDescription.length > 0 || modelName.modelMaxLength.length > 0 || modelName.modelMinLength.length > 0"
                                                                   required>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="form-group">
                                                        <label for="modelDescription"
                                                               class="col-sm-4 control-label">Description:</label>
                                                        <div class="col-sm-8">
                                                                    <textarea class="form-control"
                                                                              ng-model="modelName.modelDescription"
                                                                              name="modelDescription"
                                                                              id="modelDescription"
                                                                              placeholder="Description"
                                                                              ng-required="modelName.modelTitle.length > 0 || modelName.modelShortName.length > 0 || modelName.modelDescription.length > 0 || modelName.modelMaxLength.length > 0 || modelName.modelMinLength.length > 0"
                                                                              required></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="form-group">
                                                        <label for="modelMaxLength"
                                                               class="col-sm-4 control-label">Max Length:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control"
                                                                   ng-model="modelName.modelMaxLength"
                                                                   name="modelMaxLength" id="modelMaxLength"
                                                                   placeholder="Max Length"
                                                                   ng-required="modelName.modelTitle.length > 0 || modelName.modelShortName.length > 0 || modelName.modelDescription.length > 0 || modelName.modelMaxLength.length > 0 || modelName.modelMinLength.length > 0"
                                                                   maxlength="3" allow-only-numbers
                                                                   ng-change="model.checkLength(modelName.modelMaxLength,modelName.modelMinLength)"
                                                                   required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="form-group">
                                                        <label for="modelMinLength"
                                                               class="col-sm-4 control-label">Min
                                                            Length:</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control"
                                                                   ng-model="modelName.modelMinLength"
                                                                   name="modelMinLength" id="modelMinLength"
                                                                   placeholder="Min Length"
                                                                   ng-required="modelName.modelTitle.length > 0 || modelName.modelShortName.length > 0 || modelName.modelDescription.length > 0 || modelName.modelMaxLength.length > 0 || modelName.modelMinLength.length > 0"
                                                                   maxlength="3" allow-only-numbers
                                                                   ng-change="model.checkLength(modelName.modelMaxLength,modelName.modelMinLength)"
                                                                   required>
                                                            <span ng-show="model.invalidLength" style="color:red;">Min length must be less than Max length.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                        <span ng-show="!(modelName.modelTitle.length > 0 && modelName.modelShortName.length > 0 && modelName.modelDescription.length > 0 && modelName.modelMaxLength.length > 0 && modelName.modelMinLength.length > 0)"
                                                              style="color:red;">All fields are required.</span>
                                                <div class="row" style="margin-top:10px;text-align:center;">
                                                    <div class="form-group">
                                                        <div class="col-sm-8">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- form end -->
                </div>
                <div class="modal-footer">
                    <input ng-if="!model.masterModel.moID" type="button"
                           ng-disabled='!modelMasterForm.$valid || model.invalidLength' class="btn btn-primary"
                           ng-click="model.saveModel()" value="Submit" data-dismiss="modal">
                    <input ng-if="model.masterModel.moID" type="button"
                           ng-disabled='!modelMasterForm.$valid || model.invalidLength' class="btn btn-primary"
                           ng-click="model.updateModel()" value="Update" data-dismiss="modal">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- popup end -->
</div>
