<div ng-controller="questionListController" ng-init="getQuestionList()">
<form>
  <div ng-repeat="t in quesList.response_data">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <div class="row" style="margin-top:10px;">
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <label for="usrtitle" class="col-sm-2 control-label">Title:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control col-sm-4" name="title" id="usrtitle" placeholder="title"  ng-minlength="3" ng-maxlength="20" ng-model="t.Mq_canvas_title">
                        <p ng-show="myForm.title.$error.minlength" class="help">Title is too short.</p>
                        <p ng-show="myForm.title.$error.maxlength" class="help">Title is too long.</p>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <label for="description" class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" id="description" name="description" ng-model="t.Mq_canvas_desc"></textarea>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>

            <div ng-repeat="q in t.Question track by $index">
              <show-hide items="q" index="$index + 1"></show-hide>
            </div>

        </div>
      </div>
    </div>
  </div>

  <!-- add new question start -->
      <div class="form-group" ng-repeat="newQuestionnnaires in addQuestionnaires track by $index">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="container col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">Add Questionnaires</div>
                <!-- new start -->
                <div class="panel-body">
                  <div class="row" >
                    <div class="form-group">
                      <label for="shortQuestion" class="col-sm-4 control-label">Title:</label>
                      <div class="col-sm-8">
                          <input type="text" ng-model="newQuestionnnaires.Mq_canvas_title" class="form-control" name="title" id="title" placeholder="Title">
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top:10px;">
                    <div class="form-group">
                      <label for="shortQuestion" class="col-sm-4 control-label">Description:</label>
                      <div class="col-sm-8">
                          <textarea class="form-control" ng-model="newQuestionnnaires.Mq_canvas_desc" name="description" id="description" placeholder="description"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-repeat="newQuestion in Question track by $index">
                      <hr>
                      <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                          <label for="shortQuestion" class="col-sm-4 control-label">Short Question:</label>
                          <div class="col-sm-8">
                              <input type="text" ng-model="newQuestion.qu_short" class="form-control" name="shortQuestion" id="shortQuestion" placeholder="short Question">
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                          <label for="question" class="col-sm-4 control-label">Questions:</label>
                          <div class="col-sm-8">
                            <input type="text" ng-model="newQuestion.qu_quest" class="form-control" name="question" id="question" placeholder="question">
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                          <label for="qDescription" class="col-sm-4 control-label">Description:</label>
                          <div class="col-sm-8">
                              <textarea class="form-control" ng-model="newQuestion.qu_desc" name="qDescription" id="qDescription" placeholder="Description"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                          <label for="maxLength" class="col-sm-4 control-label">Max Length:</label>
                          <div class="col-sm-8">
                              <input type="text" ng-model="newQuestion.qu_max" class="form-control" name="maxLength" id="maxLength" placeholder="Max Length">
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                          <label for="minLength" class="col-sm-4 control-label">Min Length:</label>
                          <div class="col-sm-8">
                              <input type="text" ng-model="newQuestion.qu_min" class="form-control" name="minLength" id="minLength" placeholder="Min Length">
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="row" style="margin-top:10px; text-align:right;">
                    <div class="form-group">
                      <div class="col-sm-12">
                          <input type="button" class="btn btn-primary" ng-click="addNewQuestion()" value="​Add Question">
                      </div>
                    </div>
                  </div>

                </div>
                <!-- new end -->
              </div>
            </div>
            <div class="col-sm-3"></div>
          </div>
      </div>
  <!-- add new question end -->
  <div class="row" style="margin-top:5px;">
    <div class="form-group">
      <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" >
                <input type="button" class="btn btn-primary col-sm-12" ng-click="addNewChoice()" value="​Add Questionnaires">
            </div>
            <div class="col-sm-3"></div>
          </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:5px;">
    <div class="form-group">
      <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" >
                <input type="button" class="btn btn-success col-sm-12" ng-click="saveQuestionnaires()" value="​Submit">
            </div>
            <div class="col-sm-3"></div>
          </div>
      </div>
    </div>
  </div>
  
</form>
</div>
